{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.2"}
        com.datomic/datomic-free {:mvn/version "0.9.5697"}
        mount/mount {:mvn/version "0.1.16"}
        io.pedestal/pedestal.service {:mvn/version "0.5.8"}
        io.pedestal/pedestal.jetty {:mvn/version "0.5.8"}
        com.taoensso/timbre {:mvn/version "5.1.2"}}
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {org.clojure/tools.namespace {:mvn/version "1.1.0"}}}
  :run-m {:main-opts ["-m" "accounts.accounts"]}
  :run-x {:ns-default accounts.accounts
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "accounts.jar"
                        :main-class "accounts.accounts"
                        :sync-pom true}}}}
